<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmartOCR - AI OCR App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>📄 Smart OCR Extractor</h1>

        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*" required>
            <br>
            <button type="submit">🔍 Extract Text</button>
        </form>

        {% if uploaded %}
            <div class="prediction-block">
                <h2>✅ Predictions ({{ processing_time }}s)</h2>
                <img src="{{ url_for('static', filename='../uploads/' + filename) }}" width="100%">
                <ul>
                    {% for item in predictions %}
                        <li><b>Word:</b> {{ item['word'] }} |
                            <b>Characters:</b>
                            {% for char in item['characters'] %}
                                <span>{{ char['char'] }}</span>
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    <footer>
      <p>© 2025 Smart OCR App by R. Aditya Prakash</p>
    </footer>
  </div>
</body>
</html>
